$headerWrapperHeight: 64px;
$navWrapperWidth: 279px !important;
.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgb(244, 245, 247);

  .header-wrapper {
    width: 100%;
    background-color: rgb(86, 100, 210);
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    box-sizing: border-box;
    height: $headerWrapperHeight;
    z-index: 999;
    flex-shrink: 0;
  }

  .body-wrapper {
    display: flex;
    flex: 1;
    flex-basis: auto;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: $headerWrapperHeight;
    height: 100%;


    .scroll-wrapper {
      overflow: hidden;
      height: 100%;
      width: $navWrapperWidth;
      z-index: 899;
      position: relative;
      background-color: #fff;
      // a.active {
      //   color: rgb(86, 100, 210);
      // }
    }
    .app-main {
      flex: 1;
      flex-basis: auto;
      box-sizing: border-box;
    }
  }
}

